<div class="page cover">
    <img class="page-logo-second" src="{{imagePath 'logo.png'}}" alt="" width="120px">
    <div class="page-second">
        <div>
            <h1 style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px; text-align: start; width: 300px; padding: 5px;font-size: 29px !important;" >Detalles del Servicio</h1>
            <div class="service-item">
                <img src="{{imagePath '1.png'}}" alt="">
                <p>HORARIO: 3 y 5 días a la semana de 16:00 h a 19:00 h</p>
            </div>
            <div class="service-item">
                <img src="{{imagePath '2.png'}}" alt="">
                <p>Servicio Acompañamiento, labores auxiliares, tareas domesticas...</p>
            </div>
            <div class="service-item">
                <img src="{{imagePath '3.png'}}" alt="" >
                <p>Servicio en Domicilio semana</p>
            </div>
        </div>
        <img src="{{imagePath 'mujersombrero.png'}}" alt=""  style="object-fit: contain;">
    </div>
</div>