<div class="page cover">
     <img class="page-logo-ocho" src="{{imagePath 'logo.png'}}" alt="" width="120px">
      <div class="page-second">
        <div>
            <img src="{{imagePath 'gris.png'}}" style="width: 400px; height: auto;" alt="">
        </div>   
        <div style="text-align: center;">
            <h1 style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px; text-align: center;  padding: 5px;font-size: 30px !important;">Coste Total y Activación Servicio <br/> </h1>
            <span style="background-color: rgb(255, 191, 0); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; font-size: 30px !important; width: 400px; margin-left: 50px; font-weight: bold;">{{tipoServicioTexto}}         {{mensajesActivacion}}</span>
            <div style="margin-top: 20px;">
                <div style="display: flex; flex-direction: column; justify-content: space-between; height: 400px;">
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Cuota de Activación <br/> 99 € + IVA (pago único) </p>
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Cuota Total <br/> {{resultados.totalEmpleador}} €/mes </p>
                    <p style="color: rgb(255, 191, 0); background: rgb(255, 249, 230); ">Pago Activación <br/> A la Aceptación del Presupuesto </p>
                </div>
            </div>
        </div>
    </div>
</div>