<div class="page cover">
    <img class="page-logo-second" src="{{imagePath 'logo.png'}}" alt="" width="120px">
    <div class="page-second">
        <div>
            <h1>Consideraciones adicionales</h1>
            <div class="service-item">
                <img src="{{imagePath '1.png'}}" alt="">
                <p>Salario según SMI (Salario Mínimo Interprofesional La cuota de la Seguridad Social y el SMI segun legislación)</p>
            </div>
            <div class="service-item">
                <img src="{{imagePath '2.png'}}" alt="">
                <p>Pagas Prorrateadas Incluidas. Vacaciones NO incluidas.</p>
            </div>
            <div class="service-item">
                <img src="{{imagePath '3.png'}}" alt="">
                <p>Relalizacion de altas, bajas, contratos, nominas. Festivos NO incluidos</p>
            </div>
        </div>
        <img src="{{imagePath 'señora.png'}}" alt="" style="object-fit: contain;">
    </div>
</div>