<div class="page cover">
    <img class="page-logo" src="{{imagePath 'logo.png'}}" alt="Logo CUIDOFAM">
    <div class="page-content">
        <div>
            <h1 style="align-items: center;"> <span style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px;" >Presupuesto</span><br><span style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 0px 3px;">{{codigoData}}I {{nombreContrato}}-{{nombrePueblo}}</span><br><span style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px;">Servicio</span><br><span style="background-color: rgb(255, 191, 0); border-radius: 10px; padding: 3px;">{{tipoServicioTexto}}</span></h1>
            <p style="text-align: center;"><span>C</span>UIDO<span>F</span>AM: Servicio de cuidado, {{servicioLugar}}.</p>
        </div>
        <img src="{{imagePath 'edificio.png'}}" alt="Edificio Vizcaya">
    </div>
</div>